<!DOCTYPE html>
<html>
<style>
    *{
        font-family: "Times New Roman";
        font-size: 20px;
        margin-right: auto;
    }
</style>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
