<form method="post" action="{{ path('scrud_delete', {'id': scrud.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ scrud.id) }}">
    <button style="color: white ; font-size: 20px; background-color: forestgreen" class="btn">Delete</button>
</form>
